<div class="page-header">
  <h1>Bienvenido a la App!!!</h1>
</div>
<p>
	Estas logueado como:
	<% if current_user.admin? %>
		<b class="logueado">Administrador</b>	
	<% end %>
	<% if current_user.lector? %>
		<b class="logueado">Lector</b>	
	<% end %>
</p>