<div class="page-header">
  <%= link_to servicios_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atrás
  <% end %>
  <%= link_to edit_servicio_path(@servicio), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h1>Servicio</h1>
</div>

<dl class="dl-horizontal">
  <dt>Concepto:</dt>
  <dd><%= @servicio.concepto %></dd>

  <dt>Tarifa:</dt>
  <dd><%= @servicio.tarifa %></dd>

</dl>
